@import './common/normalize';
@import './common/variables';

@import './components/Game';
@import './components/Move';
@import './components/MoveButtons';
@import './components/ResetButton';
@import './components/Result';
@import './components/Score';

@import './containers/App';

body {
	font-family:'Open Sans', 'Helvetica', Arial;
	background-color:$color-dark-blue;
}

#app {
	padding: 20px;
}
